body{
  height: 100%;

}
.data1{
  width: 7%;
  height:100%;
}

.data2{

  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  padding-left:3%;
  padding-right:3%;

}
.hel1{
  font-size: 5vw;
  padding-left:32%;
  padding-right:50%;
  padding-top: 3%

}

 .desc{
   font-size: 1.6vw;
  font-family: "Montserrat", sans-serif;
  color: #6c757d;
  padding-left:23%;
  padding-right:25%;
  font-weight: lighter;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust:auto;


}

.desc1{
  font-size: 1.6vw;
 font-family: "Montserrat", sans-serif;
 color: #6c757d;
 padding-left:18%;
 padding-right:25%;
 font-weight: lighter;
 -webkit-text-size-adjust: auto;
 -ms-text-size-adjust:auto;

}

.verline1{
  border-left: 3px solid white;
  height: 84%;
  position:absolute;
  left:180px;
  top: 0;
}

.left {
  height: 100%;
  color: #FFFFFF  ;
  width: 100%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.pfp {
  width: 150px;
  height: 150px;
  border: 10px solid #001933;
  border-radius: 50% 50% 50% 50%;
  -moz-position: center;
  -webkit-position: center;
  -ms-position: center;
}

.btn{
  padding-left:35%;
  padding-right:30%;
  padding-top: 2%;
}
 .button {
   background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 0.5vw 0.3vw;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 1.3vw;
    cursor: pointer;
    width: 10vw;
    display: block;
}
