.hello {
  height: 99.99%;
  width: 75%;
  color: #FFFFFF;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;

}
.hel1{
  padding-left: 480px;
}
.desc{
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #6c757d;
  text-align:center;
  font-weight: lighter;
  padding-left: 300px;
}
.verline1{
  border-left: 3px solid white;
  height: 760px;
  position:absolute;
  left:185px;
  margin-left: 3px;
  top: 0;
}

.left {
  height: 100%;
  color: #FFFFFF  ;
  width: 100%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.pfp {
  width: 150px;
  height: 150px;
  border: 10px solid #001933;
  border-radius: 50% 50% 50% 50%;
  -moz-position: center;
  -webkit-position: center;
  -ms-position: center;
}
.button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 5px 4px;
    position: absolute;
    top: 500px;
    left: 740px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}
